name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build-windows:
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        compiler: [msvc, clang-cl]
        build: [header_only, static, shared]
        include:
          - build: header_only
            header_only: ON
            shared: OFF
          - build: static
            header_only: OFF
            shared: OFF
          - build: shared
            header_only: OFF
            shared: ON
    steps:
      - uses: actions/checkout@v4

      - name: Configure
        run: |
          if ("${{ matrix.compiler }}" -eq "clang-cl") {
            cmake -S . -B build `
              -G "Visual Studio 17 2022" -A x64 -T ClangCL `
              -DWINSECRUNTIME_HEADER_ONLY=${{ matrix.header_only }} `
              -DWINSECRUNTIME_BUILD_SHARED=${{ matrix.shared }} `
              -DWINSECRUNTIME_BUILD_EXAMPLES=ON
          } else {
            cmake -S . -B build `
              -G "Visual Studio 17 2022" -A x64 `
              -DWINSECRUNTIME_HEADER_ONLY=${{ matrix.header_only }} `
              -DWINSECRUNTIME_BUILD_SHARED=${{ matrix.shared }} `
              -DWINSECRUNTIME_BUILD_EXAMPLES=ON
          }

      - name: Build
        run: cmake --build build --config Release
